<h1>Your Registered Applications!</h1>
<% if current_user %>
  <% @registered_applications.each do |application| %>
    <div class="col-md-4">
      <table class="table table-striped">
        <td><%= link_to application.name, registered_appplications_show_path %></td>
        <td><%= link_to application.url, application.url %></td>
      </table>
    </div>
  <% end %>
<% end %>
