@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 51px;
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
}

#sign-in{
  padding-right: 10px;
}

#jumbo{
  margin-top: 25px;
}
